*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color:rgba(255, 253, 228, 0.85);
    box-sizing: border-box;
    font-family: sans-serif;
    width: 101vw;
    height: 101vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4em;
}
